.App {
  text-align: center;
}
.home{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "header" "header"
                        "slider" "slider"
                        "project" "project"
                        "aboutus" "aboutus"
                        "footer" "footer"  ;
}

.logo{
  grid-area: logo;
  width: 100%;
  height: 50px;
  background: lightcoral;
}
.slider{
  width: 100%;
  height: 400px;
  grid-area: slider;
  background: lightseagreen;
}
.projects{
  width: 100%;
  height: 300px;
  grid-area: project;
  background: mediumvioletred;
}
.aboutus{
  width: 100%;
  height: 400px;
  grid-area: aboutus;
  background: orange;
}
footer{
  grid-area: footer;
  width: 100%;
  height: 50px;
  background: purple;
}

header{
  padding: 0.3em 0;
  border-bottom: 1px solid #efefef;
  grid-area: header;
  width: 100%;
}
nav{
  grid-area: nav;
  float: right;
  width: 60%;
}
nav ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
nav ul li{
  border:1px solid #000;
  flex:1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
